<header>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin="" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</header>

<div id="app">
    <v-app class="">
        <v-expansion-panels v-model="panel" class="pa-5" multiple>
            <!-- Simulation props -->
            <v-expansion-panel class="" class="pa-0 ma-0">
                <v-expansion-panel-header>
                    <div class="">
                        <v-icon size="30">mdi-cog</v-icon>
                        Simulation config
                    </div>
                </v-expansion-panel-header>
                <v-expansion-panel-content class="">
                    <v-row no-gutters class="" justify="space-around">
                        <v-col cols="1">
                            <v-text-field v-model="simulation.steps" label="Steps" type="number"
                                prepend-icon="mdi-step-forward"></v-text-field>
                        </v-col>
                        <v-col cols="2">
                            <v-select v-model="simulation.town" :items="towns" label="Town" item-text="name"
                                return-object @change="changeMap" required prepend-icon="mdi-map-marker"></v-select>
                        </v-col>
                        <v-col cols="2">
                            <v-text-field v-model="simulation.town.latitude" label="Latitude" @input="changeMap"
                                prepend-icon="mdi-latitude">
                            </v-text-field>
                        </v-col>
                        <v-col cols="2">
                            <v-text-field v-model="simulation.town.longitude" label="Longitude" @input="changeMap"
                                prepend-icon="mdi-longitude">
                            </v-text-field>
                        </v-col>
                        <v-col cols="1">
                            <v-text-field v-model="simulation.radius" label="Radius (meters)"
                                prepend-icon="mdi-vector-square-plus" @input="changeMap"></v-text-field>
                        </v-col>
                    </v-row>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <!-- Vehicle props -->
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <div>
                        <v-icon size="30">mdi-car</v-icon>
                        Vehicles
                    </div>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-row no-gutters class="pa-5 pb-0 " justify="space-around">
                        <v-col cols="1">
                            <v-text-field v-model="simulation.vehicle.count" label="Vehicles" type="number">
                            </v-text-field>
                        </v-col>
                        <v-col cols="1">
                            <v-text-field v-model="simulation.vehicle.fps" label="Vehicle FPS" type="number">
                            </v-text-field>
                        </v-col>
                        <v-col cols="2">
                            <v-select v-model="simulation.vehicle.processingUnit" :items="processingUnitOptions"
                                label="Processing Unit">
                            </v-select>
                        </v-col>
                        <v-col cols="3">
                            <v-select v-model="simulation.vehicle.mapping" :items="mappingOptions"
                                label="Task Mapping Policy">
                            </v-select>
                        </v-col>
                        <v-col cols="3">
                            <v-select v-model="simulation.vehicle.scheduling" :items="schedulerOptions"
                                label="Task Scheduling Policy">
                            </v-select>
                        </v-col>
                        <v-col cols="1">
                            <v-select v-model="simulation.vehicle.networking" :items="networkingOptions"
                                label="Vehicle Network">
                            </v-select>
                        </v-col>
                    </v-row>
                    <!-- task section -->
                    <v-row no-gutters class="pa-5 ">
                        <v-select multiple chips v-model="simulation.vehicle.tasks" :items="taskOptions"
                            label="Vehicle Task"></v-select>
                    </v-row>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <!-- Vehicle props -->
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <div>
                        <v-icon size="30">mdi-calculator-variant</v-icon>
                        Tasks
                    </div>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-row no-gutters class="pa-5 pb-0 " justify="space-around">
                        
                    </v-row>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <!-- RSU props -->
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <div>
                        <v-icon size="30">mdi-antenna</v-icon>
                        Road Side Units
                    </div>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-row no-gutters class="pa-5 pb-0 " justify="space-around">
                        <v-col cols="1">
                            <v-text-field v-model="simulation.rsu.count" label="RSUS" type="number">
                            </v-text-field>
                        </v-col>
                        <v-col cols="2">
                            <v-switch v-model="simulation.rsu.evenDistribution" label="Distribute evenly (soon)"
                                disabled></v-switch>
                        </v-col>
                        <v-col cols="2">
                            <v-select v-model="simulation.rsu.processingUnit" :items="processingUnitOptions"
                                label="Processing Unit">
                            </v-select>
                        </v-col>
                        <v-col cols="3">
                            <v-select v-model="simulation.rsu.scheduling" :items="schedulerOptions"
                                label="RSU Scheduling Policy">
                            </v-select>
                        </v-col>
                        <v-col cols="3">
                            <v-select v-model="simulation.rsu.networking" :items="networkingOptions"
                                label="RSU Network">
                            </v-select>
                        </v-col>
                    </v-row>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <!-- Data Center props -->
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <div>
                        <v-icon size="30">mdi-cloud</v-icon>
                        Data Centers
                    </div>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-row no-gutters class="pa-5 pb-0 " justify="space-around">
                        <v-col cols="1">
                            <v-text-field v-model="simulation.datacenter.count" label="Data Centers" type="number">
                            </v-text-field>
                        </v-col>
                        <v-col cols="3">
                            <v-select v-model="simulation.datacenter.scheduling" :items="schedulerOptions"
                                label="Data Center Scheduling Policy">
                            </v-select>
                        </v-col>
                        <v-col cols="3">
                            <v-select v-model="simulation.datacenter.networking" :items="networkingOptions"
                                label="Data Center Network">
                            </v-select>
                        </v-col>
                    </v-row>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>


        <!-- RSU props
        <v-row no-gutters class="pa-5 pb-0 " justify="space-around">
            <v-col cols="3">
                <v-select v-model="simulation.edge_scheduler" :items="schedulerOptions" label="Edge Scheduling Policy">
                </v-select>
            </v-col>
            <v-col cols="3">
                <v-select v-model="simulation.fog_scheduler" :items="schedulerOptions" label="FOG Scheduling Policy">
                </v-select>
            </v-col>
            <v-col cols="3">
                <v-select v-model="simulation.cloud_scheduler" :items="schedulerOptions"
                    label="Cloud Scheduling Policy"></v-select>
            </v-col>
        </v-row>  -->

        <v-row class="pa-0 pl-5 ma-0">
            <v-col cols="6">
                <v-btn block class="success" @click="startSimulation()">Start</v-btn>
            </v-col>
            <v-col cols="6">
                <v-btn block class="error" @click="stopSimulation()">Finish</v-btn>
            </v-col>
        </v-row>

        <v-row no-gutters class="pt-0 pb-0">
            <v-switch class="pl-5" v-model="verticalView" inset label="Vertical view"></v-switch>
        </v-row>

        <v-row class="pa-0 ma-0">
            <v-col class="" style="margin-left: auto; margin-right: auto;" :cols="verticalView ? 6:8">
                <div id="map"></div>
            </v-col>
            <v-col class="" style="margin-left: auto; margin-right: auto;" :cols="verticalView ? 6:8">
                <div style="height:100%; width: 100%;">
                    <canvas id="chart"></canvas>
                </div>
            </v-col>
        </v-row>
    </v-app>
</div>

<script>
    const app = new Vue({ // Again, vm is our Vue instance's name for consistency.
        el: '#app',
        vuetify: new Vuetify(),
        delimiters: ['[[', ']]'],
        data() {
            return {
                panel: [1],
                verticalView: false,
                RUNNING: false,
                chart: null,
                chartLabels: ['All Tasks', 'Success', 'Failed', 'To execute', 'Incomplete'],
                chartColors: ['black', 'green', 'red', 'blue', 'orange'],
                allTasksCountList: [],
                successTasksCountList: [],
                failedTasksCountList: [],
                toExecuteTasksCountList: [],
                incompleteTasksCountList: [],
                simulationStep: 0,
                // map markers
                map: null,
                mapArea: null,
                rsuMarkers: [],
                vehicleMarkers: [],
                tripMarkers: [],
                // select options
                towns: [],
                processingUnitOptions: [],
                schedulerOptions: [],
                mappingOptions: [],
                networkingOptions: [],
                taskOptions: [],
                // simu props
                simulation: {
                    steps: 100,
                    vehicle: {
                        count: 0,
                        fps: 30,
                        mapping: '',
                        scheduling: '',
                        networking: '',
                        processingUnit: '',
                        tasks: []
                    },
                    rsu: {
                        count: 0,
                        evenDistribution: false,
                        scheduling: '',
                        networking: '',
                        processingUnit: ''
                    },
                    datacenter: {
                        count: 0,
                        evenDistribution: true,
                        scheduling: '',
                        networking: '',
                        processingUnit: ''
                    },
                    edge_scheduler: '',
                    fog_scheduler: '',
                    cloud_scheduler: '',
                    town: {
                        name: 'null',
                        latitude: 0,
                        longitude: 0
                    },
                    radius: 0
                }
            }
        },
        async mounted() {
            window.addEventListener('load', async () => {
                await this.loadLocationOptions()
                this.setupMap()
                this.changeMap()
            })

            this.chart = new Chart(
                document.getElementById('chart'),
                {}
            )
            this.drawChart()

            await this.loadSimulationConfig()
            await this.loadNetworkingOptions()
            await this.loadSchedulerOptions()
            await this.loadMappingOptions()
            await this.loadProcessingUnitOptions()
            await this.loadTaskOptions()

            setInterval(this.statsCallback, 100)
            setInterval(this.rsusCallback, 100)
            setInterval(this.vehiclesCallback, 100)
        },
        methods: {
            test() {
                console.log(this.simulation)
            },
            setupMap() {

                this.map = L.map('map', {
                    scrollWheelZoom: false
                });
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '©️ OpenStreetMap contributors'
                }).addTo(this.map);

                // focus on town
                this.changeMap()

                /* handle zoom 
                this.map.on('zoomend', function (e) {
                    let level = this.map.getZoom();
                    console.log("zoom level", level)
                }); */

                // handle click
                this.map.on('click', function (e) {
                    console.log("e", e.latlng)
                    //var bounds = [[yMin, xMax], [yMax, xMax]];
                    //L.rectangle(bounds, { color: "#red", weight: 1 }).addTo(map);
                })
            },
            changeMap() {
                let coordinates = [this.simulation.town.latitude, this.simulation.town.longitude]
                this.map.setView(coordinates, 13);

                if (this.mapArea) {
                    this.map.removeLayer(this.mapArea)
                }
                this.mapArea = L.circle(coordinates, { color: "red", opacity: .5, fillOpacity: 0.05, 'radius': this.simulation.radius }).addTo(this.map);

            },
            // set interval callbacks
            drawChart() {
                let datasets = []
                for (let i = 0; i < this.chartLabels.length; i++) {
                    data = {
                        label: this.chartLabels[i],
                        backgroundColor: this.chartColors[i],
                        borderColor: this.chartColors[i],
                        data: this.counters[i]
                    }
                    datasets.push(data)
                }
                this.simulationStep += 1
                const chartData = {
                    labels: this.range(0, this.simulationStep, 1),
                    datasets: datasets
                };
                const config = {
                    type: 'line',
                    data: chartData,
                    options: {
                        resposive: true,
                        animation: {
                            duration: 0
                        },
                        elements: {
                            point: {
                                radius: 0
                            }
                        },
                        scales: {
                            y: {
                                //max: data.maxTaskCount
                            },
                            x: {
                                //max: 10000,
                                //min: 5000
                            }
                        }
                    }
                };
                this.chart.destroy()
                this.chart = new Chart(
                    document.getElementById('chart'),
                    config
                )
            },
            statsCallback() {
                //console.log("stats")
                if (!this.RUNNING) return

                fetch('/stats')
                    .then(response => response.json())
                    .then(data => {
                        //console.log("data", data, data.values)
                        // if simu ended (Store is cleared)
                        if (data.all_tasks === 0) return

                        this.allTasksCountList.push(data.all_tasks)
                        this.successTasksCountList.push(data.success_tasks)
                        this.failedTasksCountList.push(data.failed_tasks)
                        this.toExecuteTasksCountList.push(data.tasks_to_execute)
                        this.incompleteTasksCountList.push(data.incomplete_tasks)

                        this.drawChart()
                    })
            },
            vehiclesCallback() {
                if (!this.RUNNING) return
                fetch('/vehicle')
                    .then(response => response.json())
                    .then(data => {
                        // clean
                        this.vehicleMarkers.forEach(marker => {
                            this.map.removeLayer(marker)
                        })
                        this.tripMarkers.forEach(line => {
                            this.map.removeLayer(line)
                        })
                        const vehicles = data.vehicles
                        vehicles.forEach(v => {
                            var icon = L.icon({
                                iconUrl: 'https://static.vecteezy.com/system/resources/previews/001/193/920/non_2x/convertible-car-png.png',
                                iconSize: [20, 10]
                            });
                            let marker = L.marker([v.lat, v.long], { icon: icon }).addTo(this.map).bindPopup(v.name);
                            this.vehicleMarkers.push(marker)

                            // add trip
                            let coordinates = v.coordinates.map(tuple => tuple.reverse())

                            var r = Math.floor(Math.random() * 255);
                            var g = Math.floor(Math.random() * 255);
                            var b = Math.floor(Math.random() * 255);
                            let color = "rgb(" + r + " ," + g + "," + b + ")";
                            color = 'blue'

                            let line = L.polyline(v.coordinates, { color: color, weight: 2 }).addTo(this.map);
                            this.tripMarkers.push(line)
                        });

                    })
            },
            rsusCallback() {
                if (!this.RUNNING) return
                fetch('/rsu')
                    .then(response => response.json())
                    .then(data => {
                        // clean
                        this.rsuMarkers.forEach(marker => {
                            this.map.removeLayer(marker)
                        })
                        const rsus = data.rsus
                        rsus.forEach(r => {
                            var icon = L.icon({
                                iconUrl: 'https://cdn.iconscout.com/icon/premium/png-256-thumb/data-center-1646945-1397355.png',
                                iconSize: [40, 40]
                            });
                            let marker = L.marker([r.lat, r.long], { icon: icon }).addTo(this.map).bindPopup(r.name);
                            this.rsuMarkers.push(marker)
                        });

                    })
            },
            // simulation
            startSimulation() {
                let config = {
                    steps: this.simulation.steps,
                    vehicle: this.simulation.vehicle,
                    town: this.simulation.town,
                    radius: this.simulation.radius,
                    rsu: this.simulation.rsu,
                    datacenter: this.simulation.datacenter
                }
                console.log("sending config", config.rsu)
                //return
                fetch('/simulation/start', {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(config)
                })
                this.RUNNING = true
            },
            stopSimulation() {
                this.RUNNING = false
                this.simulationStep = 0
                fetch('/simulation/stop', { method: "POST" })
            },
            // helper functions
            range(start, end, step) {
                let output = [];
                if (typeof end === 'undefined') {
                    end = start;
                    start = 0;
                }
                for (let i = start; i < end; i += step) {
                    output.push(i);
                }
                return output;
            },
            async loadSimulationConfig() {
                await fetch('/simulation/config')
                    .then(response => response.json())
                    .then(data => {
                        console.log("config data", data.simulation.town)

                        this.simulation.steps = data.simulation.steps
                        this.simulation.town = data.simulation.town
                        this.simulation.radius = data.simulation.radius
                        this.simulation.vehicle = data.simulation.vehicle
                        this.simulation.rsu = data.simulation.rsu
                        this.simulation.datacenter = data.simulation.datacenter
                    })
            },
            async loadSchedulerOptions() {
                await fetch('/scheduler/options')
                    .then(response => response.json())
                    .then(data => {
                        //console.log("data", data)
                        this.schedulerOptions = data.task_scheduling_options
                    })
            },
            async loadMappingOptions() {
                await fetch('/mapper/options')
                    .then(response => response.json())
                    .then(data => {
                        //console.log("data", data)
                        this.mappingOptions = data.task_mapping_options
                    })
            },
            async loadNetworkingOptions() {
                await fetch('/networking/options')
                    .then(response => response.json())
                    .then(data => {
                        //console.log("data", data)
                        this.networkingOptions = data.networking_options
                    })
            },
            async loadLocationOptions() {
                await fetch('/location/options')
                    .then(response => response.json())
                    .then(data => {
                        this.towns = data.location_options
                        //this.simulation.town = this.towns[0]
                    })
            },
            async loadProcessingUnitOptions() {
                await fetch('/processingUnit/options')
                    .then(response => response.json())
                    .then(data => {
                        this.processingUnitOptions = data.processing_unit_options
                    })
            },
            async loadTaskOptions() {
                await fetch('/task/options')
                    .then(response => response.json())
                    .then(data => {
                        this.taskOptions = data.task_options
                    })
            }

        },
        computed: {
            counters() {
                return [
                    this.allTasksCountList,
                    this.successTasksCountList,
                    this.failedTasksCountList,
                    this.toExecuteTasksCountList,
                    this.incompleteTasksCountList
                ]
            }
        }
    })
</script>

<style>
    #map {
        width: 100%;
        height: 100%;
    }

    .text-center {
        text-align: center;
    }

    .font-size-20 {
        font-size: 20px;
    }

    .v-expansion-panel-content__wrap {
        padding: 0 !important;
    }
</style>